<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" th:src="@{/js/addbooks.js}"></script>
<meta charset="ISO-8859-1">
<title th:text="#{library.title}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h3 th:text="#{addbooks.title}"></h3>
	<form th:action="@{/books/add}" th:object="${book}" method="post" id="bookForm">
		<table>
			<tr>
				<td>
					<label th:text="#{addbooks.book.name}"></label>
				</td>
				<td>
					<input type="text" th:field="*{name}" th:placeholder="#{addbooks.book.name.placeholder}"/><br>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="errorMessage"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label th:text="#{addbooks.book.isbn}"></label>
				</td>
				<td>
					<input type="text" th:field="*{isbn}" th:placeholder="#{addbooks.book.isbn.placeholder}"/><br>
					<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" th:errorclass="errorMessage"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label th:text="#{addbooks.book.price}"></label>
				</td>
				<td>
					<input type="text" th:field="*{price}"/><br>
					<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="errorMessage"></span>
				</td>
			</tr>
			<tr th:each="author, itemStat: *{authorList}">
				<td>
					<label th:if="${itemStat.first}" th:text="#{addbooks.book.authors}">Authors</label>
				</td>
				<td>
					<input type="text" th:placeholder="#{addbooks.book.authors.firstname.placeholder}" th:field="*{authorList[__${itemStat.index}__].firstName}" th:id="'firstName_' + ${itemStat.index}"/><br>
					<span th:if="${#fields.hasErrors('authorList[' + itemStat.index + '].firstName')}" th:errors="*{authorList[__${itemStat.index}__].firstName}" th:errorclass="errorMessage"></span>
				</td>
				<td>
					<input type="text" th:placeholder="#{addbooks.book.authors.lastname.placeholder}" th:field="*{authorList[__${itemStat.index}__].lastName}" th:id="'lastName_' + ${itemStat.index}"/><br>
					<span th:if="${#fields.hasErrors('authorList[' + itemStat.index + '].lastName')}" th:errors="*{authorList[__${itemStat.index}__].lastName}" th:errorclass="errorMessage"></span>
				</td>
				<td>
					<button type="button" th:if="${!itemStat.last || (itemStat.last && itemStat.index == 2)}" th:onclick="'removeAuthor(' + ${itemStat.index} + ');'">X</button>
					<button type="button" th:if="${itemStat.last && #lists.size(book.authorList) < 3}" onclick="addAuthor()" th:text="#{addbooks.book.authors.add}"></button>
				</td>
			</tr>
			<tr th:each="location, itemStat: *{locationList}">
				<td>
					<label th:if="${itemStat.first}" th:text="#{addbooks.book.locations}"></label>
				</td>
				<td>
					<input type="text" th:placeholder="#{addbooks.book.locations.name.placeholder}" th:field="*{locationList[__${itemStat.index}__].name}"/><br>
					<span th:if="${#fields.hasErrors('locationList[' + itemStat.index + '].name')}" th:errors="*{locationList[__${itemStat.index}__].name}" th:errorclass="errorMessage"></span>
				</td>
				<td>
					<input type="text" th:placeholder="#{addbooks.book.locations.placecode1.placeholder}" th:field="*{locationList[__${itemStat.index}__].placecode1}" /><br>
					<span th:if="${#fields.hasErrors('locationList[' + itemStat.index + '].placecode1')}" th:errors="*{locationList[__${itemStat.index}__].placecode1}" th:errorclass="errorMessage"></span>
				</td>
				<td>
					<input type="text" th:placeholder="#{addbooks.book.locations.placecode2.placeholder}" th:field="*{locationList[__${itemStat.index}__].placecode2}"/><br>
					<span th:if="${#fields.hasErrors('locationList[' + itemStat.index + '].placecode2')}" th:errors="*{locationList[__${itemStat.index}__].placecode2}" th:errorclass="errorMessage"></span>
				</td>
				<td>
					<button type="button" th:if="${!itemStat.last || (itemStat.last && itemStat.index == 2)}" th:onclick="'removeLocation(' + ${itemStat.index} + ');'">X</button>
					<button type="button" th:if="${itemStat.last && #lists.size(book.locationList) < 3}" onclick="addLocation()" th:text="#{addbooks.book.locations.add}"></button>
				</td>
				<td>
					<span th:if="${#fields.hasErrors('locationList[' + itemStat.index + ']')}" th:errors="*{locationList[__${itemStat.index}__]}" th:errorclass="errorMessage"></span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" onclick="saveBook()" th:text="#{addbooks.submit}"></button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>