<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Books</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="bookdetails">
	<h3>Book Details!</h3>
	<table>
		<tr>
			<td><b>Name</b></td>
			<td th:text="${bookDetails.name}"></td>
		</tr>
		<tr>
			<td><b>Authors</b></td>
			<td>
				<div style="display: inline;">
					<span 
						th:each="bookAuthor,iter:${bookDetails.bookAuthors}" 
						th:text="${bookAuthor.author.firstName} + ' ' + ${bookAuthor.author.lastName} + ${iter.last ? '' : ', '}"
					>
					</span>
				</div>
			</td>
		</tr>
		<tr>
			<td><b>ISBN</b></td>
			<td th:text="${bookDetails.isbn}"></td>
		</tr>
		<tr>
			<td><b>Purchase Price</b></td>
			<td th:text="'$' + ${bookDetails.purchasePrice}"></td>
		</tr>
		<tr>
			<td><b>Stars</b></td>
			<td th:text="${rating}"></td>
		</tr>
		<tr th:each="location,iter:${bookDetails.locations}">
			<td><i><b th:text="'Location ' + (${iter.index}+1)"></b></i></td>
			<td>
				<table class="innerTable">
					<tr>
						<td><i>Name</i></td>
						<td th:text="${location.name}"></td>
					</tr>
					<tr>
						<td><i>Placecode 1</i></td>
						<td th:text="${location.placecode1}"></td>
					</tr>
					<tr>
						<td><i>Placecode 2</i></td>
						<td th:text="${location.placecode2}"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>