<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{library.title}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h3 th:text="#{popular.title}"></h3>
	<div class="booklist">
		<div th:each="book,iter:${bookList}" class="listItem">
			<div th:text="${book.name}"></div>
			<div>
				<table>
					<tr>
						<td>
							<span th:text="#{books.book.by} + ':'"></span>
						</td>
						<td>
							<span 
								th:each="bookAuthor,iter:${book.authors}" 
								th:text="${bookAuthor.firstName} + ' ' + ${bookAuthor.lastName} + ${iter.last ? '' : ', '}"
							></span>
						</td>
					</tr>
				</table>
			</div>
			<div><label th:text="#{popular.favorites} + ': ' + ${book.favoredAmount}"></label></div>
			<div><a th:href="@{/books/details?id={id}(id=${book.id})}" th:text="#{books.book.details}"></a></div>
		</div>
	</div>
</body>
</html>